extends ./_layout.jade

block title
  title #{short}
  
block js

block content
  .main-content
    .section.cf
      .col.span_1_of_3.menu-col
        h1 Blog
        h1 Lavi
      .col.span_2_of_3.post-col
        .post-data
          h1.post-title #{title}
          span.post-date #{date}
          ul#tag-list
            for tag in tags
              li.tag #{tag}
        .post-content !{body}
