extends ./_layout.jade

block title
  title #{short}
  
block js

block content
  .post-data
    h1.post-title #{title}
    span.post-date #{date}
    ul#tag-list
      for tag in tags
        li.tag #{tag}
  .post-content !{body}
